:root {
    /* colors */
--primery-text-color: #757575; 
--tittle-text-color: #212121;
--secondary-text-color: #FFFFFF;
--accent-color: #2196F3;
--primery-bg-color: #F5F5F5;
--footer-text-color: rgba(255, 255, 255, 0.6);
--secondary-bg-color: #2F303A;
--thirt-bg-color: #F5F4FA; 

   /* fonts */
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
}


/*body*/
.page-header {
    background-color: #FFFFFF;
}
body {background-color: #F5F5F5;
    font-family: var(--main-font);
    color: var(--tittle-text-color);
    width: 1600px;
    height: 2346px;
}
.list {
    list-style: none;}

/* site nav */
.site-nav link {
color: var(--tittle-text-color);    
}
.web-logo {
color: var(--accent-color);
font-family: var(--secondary-font);
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03e;    
}
.studio-logo {
color: var(--tittle-text-color);
font-family: var(--secondary-font);
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.link {
color: var(--tittle-text-color);
text-decoration: none;
font-family: inherit;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.link.current {
color: var(--accent-color);    
}
.contacts {
color: var(--primery-text-color);    
}
.contacts.current {
color: var(--accent-color);    
text-decoration: none;
font-family: inherit;}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

.link:hover,
.link-focus {
    color: var(--accent-color);
}

.site-nav {
color: var(--accent-color);}

/* hero */
.hero-section {
    background-color: #2F303A;
}
.hero-tittle {
color: var(--secondary-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1,4;
text-align: center;
letter-spacing: 0,6em;
text-transform: uppercase;    
}


/* button */
.button {
    
} 
.button-primery {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em
    ;
    cursor: pointer;

}
.button-primery:hover,
.button-primery:focus {
background-color: var(--accent-color
);
}    
/* our benefits */
.section-benefits {
    background-color: var(--primery-bg-color);
}
.benefits-tittle {
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7px;
    letter-spacing: 0.03em;
}
.benefits-descr {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7px;
    letter-spacing: 0.03em;

}
/* what do we do */
.section {
    background-color: var(--thirt-bg-color);
}
.section-tittle {
color: var(--tittle-text-color);
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}

/* our team */
.name-tittle {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2px;
    text-align: center;
    letter-spacing: 0.03em;
}
.position-tittle {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */
.footer {
    background-color: var(--secondary-bg-color);
}
.studio-logo-footer {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
}
.footer-adress {
    color: var(--secondary-text-color);
}
.footer-contact {
    color: var(--footer-text-color);
}
.footer-adress:hover,
.footer-adress:focus {
    color: var(--accent-color);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

/* portfolio css */
.section-portfolio {
background-color: var(--primery-bg-color);
} 
.filter-btn {
background-color:var(--thirt-bg-color);
font-weight: 500;
font-size: 16px;
line-height: 1.6px;
text-align: center;    
letter-spacing: 0.03em;
cursor: pointer;
border: none;
}
.filter-btn:hover
.filter-btn:focus {
background-color: var(--accent-color);
color: var(--tittle-text-color);
}

.project-tittle {
color: var(--tittle-text-color);   
font-weight: 700;
font-size: 18px;
line-height: 2.0px;
letter-spacing: 0.06em; 
}
.project-category {
color: var(--primery-text-color); 
font-weight: 400;
font-size: 18px;
line-height: 1.8px;
letter-spacing: 0.03em;
}